/* --------------------- RESET  */
*{
  box-sizing:border-box;
  margin:0;
  font-family: 'Segoe UI', sans-serif;
}

/* --------------------- VARIABLES DE TEMA */
:root {
  --bg-principal: #000000;
  --bg-panel: #1a1a1a;
  --texto: #ffffff;
  --acento: #a855f7;
  --bg-skill: #585858;
  --shadow: rgba(255,255,255,0.1);
}

[data-theme="light"] {
  --bg-principal: #e5e5e5;
  --bg-panel: #ffffff;
  --texto: #000000;
  --bg-skill: #585858;
  --acento: #3b82f6;
  --shadow: rgba(0,0,0,0.08);
}

/* --------------------- BODY */
body{
  background-color: var(--bg-principal);
  color: var(--texto);
  transition: all 0.3s ease;
  /* animation: fadeInPage 0.2s ease-in-out; */
}

/* @keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(8px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* --------------------- LINKS */
li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* --------------------- LAYOUT */
.app{
  display:flex;
  height:100vh;
}

.main{
  margin-left: 260px;
  padding: 22px 30px;
  background: var(--bg-principal);
  min-height:100vh;
}

/* --------------------- SIDEBAR */
.sidebar {
  width: 260px;
  min-height:100vh;
  padding:20px;
  position: fixed;
  background: var(--bg-panel);
  color: var(--texto);
  box-shadow: 0px 2px 12px var(--shadow);
  transition: 0.3s;
  border: 1px solid rgba(128, 128, 128, 0.481);
}
[data-theme="light"] .sidebar .logo img {
  filter: invert(1);
}

.sidebar .logo {
  margin-bottom:40px;
}

.sidebar ul {
  list-style:none;
  padding:0;
}

.sidebar li {
  padding:14px 18px;
  border-radius:12px;
  margin-bottom:10px;
  display:flex;
  align-items:center;
  gap:12px;
  font-weight:500;
  cursor:pointer;
  transition:.2s;
}

.sidebar li.active,
.sidebar li:hover {
  /* background-color: var(--acento); */
  color: #a855f7;
}

/* --------------------- TOPBAR */
.topbar {
  padding:14px 25px;
  border-radius:14px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background: var(--bg-panel);
  color: var(--texto);
  box-shadow: 0px 2px 12px var(--shadow);
  transition: 0.3s;
  border: 1px solid rgba(128, 128, 128, 0.481);
}

/* --------------------- HERO */
.hero{
  display: flex;
  align-items: center;
  padding: 6px 32px;
  background: var(--bg-panel);
  border-radius: 20px;
  margin-bottom: 2rem;
  transition: 0.3s;
  color: var(--texto);
  border: 1px solid rgba(128, 128, 128, 0.481);
}

.hero-left{
  margin: 0px 2rem;
}

.hero-avatar{
  width: 170px;
  height: 170px;
  background: var(--bg-skill);
  border-radius: 50%;
}

.hero-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.hero-number{
  font-size: 140px;
  font-weight: 600;
}

.hero-text h2,
.hero-text h3{
  font-size:30px;
  font-weight:600;
}

.hero-text p{
  margin-top:4px;
  opacity:0.7;
}

/* --------------------- SKILLS BOX */
.skills-box{
  width: 100%;
  max-width: 520px;
  display: flex;
  background: var(--bg-panel);
  border-radius: 20px;
  padding:20px;
  margin-bottom:1rem;
  transition: 0.3s;
  color: var(--texto);
  border: 1px solid rgba(128, 128, 128, 0.481);
}

.score{
  display: flex;
  align-items: center;
  margin: 0px 35px;
}

.score-circle{
  width:150px;
  height:150px;
  background: var(--bg-skill);
  border-radius:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:#fff;
}

.score-circle h2{
  font-size:66px;
}

.score-circle span {
  font-size: 1.3rem;
}

.bars {
  width: 290px;
}

.bars .skill{
  margin-bottom:16px;
}

.skill span{
  font-weight:600;
}

.progress{
  height:14px;
  background: rgba(255,255,255,0.1);
  border-radius:5px;
  overflow:hidden;
  margin:6px 0;
}

[data-theme="light"] .progress{
  background: rgba(0,0,0,0.1);
}

.progress div{
  height:100%;
  background: var(--bg-skill);
}

.progress small {
  margin-left: 5px;
  color: var(--texto);
}

/* --------------------- COURSES */
.courses{
  display:flex;
  gap:18px;
  overflow-x:auto;
  padding:18px 6px 26px;
  margin-top:12px;
}

.courses::-webkit-scrollbar{
  height:8px;
}

.courses::-webkit-scrollbar-thumb{
  background: var(--bg-skill);
  border-radius:10px;
}

.course{
  background: var(--bg-panel);
  border-radius:18px;
  padding:18px;
  width: 320px;
  flex-shrink: 0;
  transition: 0.3s;
  color: var(--texto);
  border: 1px solid rgba(128, 128, 128, 0.481);
}

.course h4{
  font-size: 22px;
  text-align: center;
  margin-bottom: 1rem;
}

/* --------------------- RECOMMENDED */
.recommended {
  width: 100%;
  padding: 15px;
}

.recommended h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--texto);
}

.skills-scroll {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.skills-scroll::-webkit-scrollbar {
  height: 6px;
}

.skills-scroll::-webkit-scrollbar-thumb {
  background: var(--bg-skill);
  border-radius: 10px;
}

.skill-card {
  min-width: 210px;
  background: var(--bg-panel);
  border-radius: 16px;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 8px var(--shadow);
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--texto);
  border: 1px solid rgba(128, 128, 128, 0.481);
}

.skill-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px var(--shadow);
}

.icon {
  width: 46px;
  height: 46px;
  background: var(--bg-skill);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color:#fff;
}

.text small {
  font-size: 12px;
  opacity: 0.7;
  display: block;
}

.text strong {
  font-size: 15px;
}