*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: #ffffff;
color:rgb(0, 0, 0);
font-family:sans-serif;
max-width: 100%;
height: 100vh;

}

.navbar-bar{
position: relative; 
top: 0px;
width: 100%;
background: #fffefeb2;
border-bottom: 1px solid rgba(250, 250, 250, 0.637);
box-shadow: 10px 15px 100px rgba(155, 155, 155, 0.664);



} 


.icon-box{
background:#0a36c9;
padding:2px;
border-radius:10px;
}
.icon-box img{

    width: 50px;
    height: 50px;
}

.title-nav{
color:#0a36c9;
font-weight:700;
text-transform:uppercase;
font-size: 18px;
}

.subtitle-nav{
color:#000000;
padding-top: 5px;
font-size: 13px;
}
.text-end{
    font-size: 16px;
}

.progress{
height:6px;
background:#7e7e7e;
}
.progress-bar{
    background-color: #0a36c9;
}







.main-container{
max-width:67%;
padding:20px ;
 /* background: radial-gradient(57.64% 100.51% at 50% 50%, rgba(128, 13, 242, 0.233) 0%, rgba(128, 13, 242, 0) 70%); */


}


.content-question{
    padding: 30px;
    height: auto;

}

.main-title{
font-size:45px;
font-weight: bold;
}

.main-desc{
color:#000000;
font-size: 18px;
font-weight: 500;
}

.badge-ai{
background:#a855f7;
padding:6px 12px;
border-radius:20px;
}

.card-question{
padding:30px;
border-radius:15px;
color: #000000;
background: radial-gradient(57.64% 100.51% at 40% 50%, rgba(87, 8, 233, 0.192) 0%, rgba(128, 13, 242, 0) 80%);
font-weight: 800;
box-shadow: 0px 1px 18px rgb(146, 146, 146);

}

.likert input{
display:none;
}

.likert label{
border:2px solid #908997;
border-radius:10px;
padding:15px;
cursor:pointer;
display:block;
}
.likert input[type="radio"]:checked + label {
    color: #000000;
    background-color: #908997;
    font-weight: bold;
    transform: scale(1.1);
    
}



.choice-card{
border:2px solid #908997;
padding:20px;
border-radius:12px;
cursor:pointer;
display:block;
color:rgb(0, 0, 0);
font-weight: 800;
}

.choice-card input{
display:none;
}

.choice-card input:checked + span{
color:#ea00ff;
font-weight:bold;
}

.info-box{
border:1px dashed rgba(255,255,255,0.3);
padding:20px;
border-radius:10px;
}
