<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Riwi Learning Platform</title>
    <link rel="stylesheet" href="./../../../assets/css/auth.css" />
    <link rel="stylesheet" href="./../../../assets/css/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <script src="../../../src/core/utils/theme.js" defer></script>

    <script src="https://unpkg.com/i18next@23.11.5/dist/umd/i18next.min.js"></script>
    <script src="./../../core/utils/i18n.js"></script>
  </head>

  <body class="body-content">
    <main class="card-content">
      <section class="content-logo">
        <div class="container">
          <img src="./../../../assets/img/logo.png" alt="Riwi Logo" />
        </div>
      </section>

      <section class="content-form">
        <header class="header">
          <h1 data-i18n="auth.login_title">Bienvenido de vuelta</h1>
          <p data-i18n="auth.login_p">
            Accede a tu cuenta para seguir aprendiendo.
          </p>
        </header>

        <div class="social-auth-container">
          <a
            href="http://localhost:3000/api/auth/google"
            class="btn-social google"
          >
            <img
              src="https://www.svgrepo.com/show/475656/google-color.svg"
              alt="Google"
              width="20"
            />
            <span data-i18n="auth.google">Continua con Google</span>
          </a>

          <a
            href="http://localhost:3000/api/auth/github"
            class="btn-social github"
          >
            <img
              src="https://www.svgrepo.com/show/512317/github-142.svg"
              alt="GitHub"
              width="20"
            />
            <span data-i18n="auth.github">Continua con GitHub</span>
          </a>
        </div>

        <div class="separator">
          <span data-i18n="auth.or_sep">O</span>
        </div>

        <form class="form-1" id="login-form">
          <div class="inputs">
            <label for="email" data-i18n="auth.label_mail">Gmail</label>
            <input
              type="email"
              id="email"
              placeholder="example@riwi.com"
              required
            />
          </div>

          <!-- Password -->
          <div class="inputs">
            <label for="password" data-i18n="auth.label_pass">Contraseña</label>
            <div class="password-wrapper">
              <input
                type="password"
                id="password"
                required
                placeholder="••••••••"
              />
              <button
                type="button"
                class="toggle-password"
                data-target="password"
                tabindex="-1"
              >
                <svg
                  class="eye-open"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                <svg
                  class="eye-closed"
                  style="display: none"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="M9.88 9.88 1.5 1.5m10.27 10.27L22.5 22.5M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68M6.61 6.61A13.52 13.52 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61M12 15a3 3 0 1 0-3-3"
                  />
                </svg>
              </button>
            </div>
          </div>

          <!-- Button Submit -->
          <button
            type="submit"
            class="btn-auth btn-submit"
            data-i18n="auth.btn_login"
          >
            Iniciar Sesión
          </button>

          <p class="link">
            <span data-i18n="auth.no_acc">¿No tienes una cuenta?</span>
            <a href="./register.html" data-i18n="auth.link_reg"
              >Registrate Aqui</a
            >
          </p>
        </form>
      </section>
    </main>

    <div class="theme-switch-wrapper">
      <button
        id="language-toggle"
        class="theme-btn me-2"
        title="Change Language"
      >
        <svg
          id="lang-icon"
          class="theme-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m5 8 6 6" />
          <path d="m4 14 6-6 2-3" />
          <path d="M2 5h12" />
          <path d="M7 2h1" />
          <path d="m22 22-5-10-5 10" />
          <path d="M14 18h6" />
        </svg>
      </button>

      <button id="theme-toggle" class="theme-btn" title="Toggle Theme">
        <svg
          id="moon-icon"
          class="theme-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
        </svg>
        <svg
          id="sun-icon"
          class="theme-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="display: none"
        >
          <circle cx="12" cy="12" r="4" />
          <path d="M12 2v2" />
          <path d="M12 20v2" />
          <path d="m4.93 4.93 1.41 1.41" />
          <path d="m17.66 17.66 1.41 1.41" />
          <path d="M2 12h2" />
          <path d="M20 12h2" />
          <path d="m6.34 17.66-1.41 1.41" />
          <path d="m19.07 4.93-1.41 1.41" />
        </svg>
      </button>
    </div>

    <script src="../../../src/core/utils/transition.js"></script>
    <script type="module" src="../../../src/core/auth/auth-ui.js"></script>
  </body>
</html>
