<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="./../../css/auth.css">
</head>

<body class="body-content">

    <main class="card-content">
        <section class="content-logo">
            <div class="container">
                <img src="./img_logo/logo.png" alt="">
            </div>
        </section>
        <section class="content-form">
            <header class="header">
                <h1>Welcome </h1>
                <p>Access your account</p>
            </header>

            <form class="form-1">

                <div class="inputs">
                    <label>Email</label>
                    <input type="email" required>
                </div>
                <div class="inputs">
                    <label>Password</label>
                    <input type="password" required>
                </div>
                <button class="btn-auth">Login</button>
                <p class="link">
                    No account?
                    <a href="./register.html">Register</a>
                </p>
            </form>
        </section>

    </main>
</body>

</html>